node_modules/
style/**/*.css
.idea/
sc.log
errorShots/
backup/
!dist/

dist/*
!dist/assets/
cypress/videos/widget.spec.js.mp4
cypress/screenshots/widget.spec.js/Actions -- Opens up the widget (failed).png
