@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html, body {
    margin: 0;
    padding: 0;
}

#effekt-user-module {
    display: block;
    width: 1024px;
    margin: 0 auto;
    font-family: 'Open Sans';

    .main-graph {
        
    }
}