@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$cdn-url: "http://api.gieffektivt.no/static/";

#donation-widget-container {
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;

    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;

    transition: all 200ms; 
    background: transparent;

    &.active {
        background: rgba(0,0,0,.8);
    }
}

#donation-widget {
    width: 320px;
    height: 300px;
    background: white;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.05);
    position: relative;

    font-family: 'Open Sans', sans-serif;

    transition: all 300ms;

    transform: scale(0.9);
    opacity: 0;

    &.active {
        opacity: 1;
        transform: scale(1);
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: -42px;
        background-image: url(#{$cdn-url}close-button.svg);
        width: 14px;
        height: 14px;
        padding: 10px;
        z-index: 1000000000;
        display: block;
        background-size: 14px 14px;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
    }

    & > .inner {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        overflow: hidden;
    }

    
    .slider {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        white-space: nowrap;

        transition: transform 300ms;

        /* To eliminate space between empty inline panes */
        font-size: 0px;

        .pane {
            font-size: normal;
            position: relative;
            height: 100%;
            background: white;

            display: inline-block;
            vertical-align: middle;

            & .inner input[type="text"], input[type="number"], input[type="tel"] {
                background: #eee;
                color: #222;

                border: none;
                padding: 20px;
                width: 180px;
                font-size: 16px;
                margin: 0 auto;
                display: block;

                font-weight: 300;

                font-family: 'Open Sans', sans-serif;
            }

            .select-on-click {
                cursor: pointer;
            }

            h3 {
                font-weight: 300;
                text-align: center;
                margin-top: 24px;
                margin-bottom: 24px;
                font-size: 24px;
                text-transform: none;
                letter-spacing: 0px;
                font-family: 'Open Sans';
            }

            .btn-container {
                width: 100%;
                position: absolute;
                bottom: 30px;
                height: 30px;
                text-align: center;

                .btn {
                    $size: 30px;
                    display: inline-block;
                    position: relative;

                    width: $size;
                    height: $size;
    
                    border: 2px solid #2196F3;
    
                    border-radius: 50%;
    
                    cursor: pointer;
                    padding: 7px;
                    margin: 0 3px;
                    box-sizing: border-box;
    
                    opacity: 1;
    
                    transition: all 200ms;
    
                    &.back {
                        .arrowImage {
                            transform: rotate(180deg);
                        }
                    }
    
                    &.inactive {
                        opacity: .2;
                    }
    
                    &:hover {
                        padding-left: 10px;
                    }
    
                    img.arrowImage {
                        width: 12px;
                        height: 12px;
                    }
    
                    img.loadingImage {
                        width: 18px;
                        height: 18px;
    
                        position: absolute;
                        top: 4px;
                        left: 4px;
    
                        display: none;
    
                        animation: spin 300ms infinite linear;
                    }
    
                    &.loading {
                        img.arrowImage {
                            display: none;
                        }
    
                        img.loadingImage {
                            display: inline-block;
                        }
                    }
                }
            }

            //Pane styles
            &.hidden {
                display: none;
            }

            &.basic {
                input.name {
                    margin-bottom: 10px;
                }

                input.email {
                    margin-bottom: 20px;
                }
            }

            &.amount {
                text-align: center;

                .amount-wrapper {
                    position: relative;
                    display: inline-block;
                    margin-top: 20px;
                    margin-bottom: 10px;

                    .currency {
                        position: absolute;
                        display: inline-block;
                        top: 20px;
                        right: 20px;

                        font-size: 16px;
                        font-weight: 300;

                        color: #aaa;
                    }
                }
                

                .select-split {
                    font-size: 12px;
                    text-align: center;
                    padding-top: 6px;
                    color: #777;

                    user-select: none;

                    &:nth-child(2n) {
                        padding-top: 0;
                    }

                    & > * {
                        vertical-align: middle;
                        cursor: pointer;
                    }

                    label.box {
                        width: 9px;
                        height: 9px;
                        background: white;
                        border: 2px solid white;
                        box-shadow: 0 0 0 1px #aaa;
                        cursor: pointer;
                        display: inline-block;
                        border-radius: 50%;

                        cursor: pointer;

                        margin-left: 6px;
                    }

                    input {
                        display: none;

                        &:checked {
                            & + label {
                                background: #2196F3;
                            }
                        }
                    }
                }
            }

            &.shares {
                h3 {
                    margin-bottom: 6px;
                }

                .share-distribution {
                    .mode-switch {
                        width: 60px;
                        height: 26px;

                        background: rgba(244,244,244,1);

                        font-size: 0;
                        position: relative;
                        margin: 12px auto;
                        cursor: pointer;
                        -webkit-user-select: none;
                        user-select: none;
                        z-index: 1;

                        overflow: hidden;

                        span {
                            width: 50%;
                            display: inline-block;
                            font-size: 10px;

                            text-align: center;

                            position: relative;
                            z-index: 10;
                            padding: 0;

                            &.absolute {
                                color: white;
                            }

                            &.percentage {
                                color: #222;
                            }
                        }

                        .selector {
                            position: absolute;
                            top: 0;
                            left: -2px;

                            padding: 0;

                            width: 50%;
                            height: 100%;

                            background: #222;

                            transition: transform 200ms;

                            &::after {
                                content: '';

                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 26px 8px 0 0;
                                border-color: #222 transparent transparent transparent;
                                position: absolute;
                                top: 0; right: -8px;
                            }

                            &::before {
                                content: '';

                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 0 26px 8px;
                                border-color: transparent transparent #222 transparent;
                                position: absolute;
                                top: 0; left: -8px;
                            }
                        }

                        &.switched {
                            .selector {
                                transform: translateX(calc(100% + 4px));
                            }

                            span {
                                &.absolute {
                                    color: #222;
                                }

                                &.percentage {
                                    color: white;
                                }
                            }
                        }
                    }

                    ul.organizations {
                        padding: 0;
                        margin: 0;

                        text-align: center;

                        li {
                            margin-top: 10px;
                            position: relative;
                            left: -30px;

                            &:first-child {
                                margin-top: 0;
                            }

                            & > * {
                                display: inline-block;
                                vertical-align: middle;
                            }

                            .logo {
                                width: 74px;
                                height: 56px;

                                display: inline-block;
                                position: relative;

                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center right;

                                margin-right: 10px;
                            }

                            .info { 
                                cursor: pointer;
                                width: 14px;
                                height: 14px;
                                background-image: url(#{$cdn-url}help.svg); 
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center center;
                                opacity: .3;
                                margin-right: 10px;
                            }

                            span {
                                font-size: 12px;
                                text-align: right;
                                width: 120px;
                                margin-right: 8px;
                                white-space: normal;
                                line-height: 120%;
                            }

                            .input-wrapper {
                                position: relative;

                                input {
                                    padding: 10px;
                                    font-size: 12px;
                                    color: #222;
                                    width: 36px;
                                    font-family: 'Open Sans';
                                    background: #eee;
                                    border: none;
                                    text-align: center;
                                    position: relative;
                                    z-index: 10;
                                }

                                &::before {
                                    content: 'kr';
                                    position: absolute;
                                    right: -20px;
                                    top: 5px;
                                    color: #aaa;
                                    font-size: 12px;
                                    font-family: 'Open Sans';
                                    opacity: 1;

                                    transition: all 200ms;
                                }

                                &::after {
                                    content: '%';
                                    position: absolute;
                                    right: 0;
                                    top: 5px;
                                    color: #aaa;
                                    font-size: 12px;
                                    font-family: 'Open Sans';
                                    opacity: 0;

                                    transition: all 200ms;
                                }
                            }
                        }

                        &.percentage-mode {
                            .input-wrapper {
                                &::before {
                                    transform: translateX(-20px);
                                    opacity: 0;
                                }

                                &::after {
                                    transform: translateX(20px);
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .total {
                        display: block;
                        font-size: 12px;
                        margin: 4px auto;
                        text-align: center;
                        color: #777;

                        opacity: 1;
                        transition: opacity 200ms;

                        &.total-hidden {
                            opacity: 0;
                        }
                    }
                }
            }

            &.payment-method {
                font-size: 12px;
                white-space: normal;
                text-align: center;

                h3 {
                    margin-bottom: 14px;
                }

                span {
                    display: inline-block;
                    color: rgb(37, 37, 37);
                    font-size: 11px;
                    width: 80%;
                    margin-bottom: 10px;
                }

                .selection {
                    position: relative;
                    display: none;

                    &.active {
                        display: block;
                    }

                    .payment-methods {
                        width: 80%;
                        text-align: center;
                        margin: 0 auto;

                        .method {
                            width: 100px;
                            height: 46px;
                            border: 1px solid #4b4b4b;
                            margin: 5px;
                            display: inline-block;

                            background-size: 70%;
                            background-position: center 8px;
                            background-repeat: no-repeat;

                            position: relative;

                            cursor: pointer;

                            .transaction-costs {
                                font-size: 10px;
                                color: rgb(143, 142, 142);
                                position: absolute;
                                bottom: 2px;
                                width: 100%;
                                text-align: center;
                            }

                            &.vipps {
                                background-image: url('../assets/logos/vipps.png');
                            }

                            &.paypal {
                                background-image: url('../assets/logos/PayPal.png');
                            }

                            &.bank {
                                background-image: url('../assets/logos/bank.png');
                                background-position: center 0;
                            }
                        }
                    }
                    .awaiting-confirmation {
                        display: none;
                        justify-content: center;
                        align-items: center;

                        height: 100%;
                        width: 100%;

                        position: absolute;
                        top: 0;
                        left: 0;
                        background: white;

                        strong {
                            display: block;
                            width: 220px;
                        }

                        img {
                            width: 48px;
                            height: 48px;
                            margin-top: 25px;
                            animation: spin 2000ms infinite linear;
                        }
                    }
                }

                .vipps-guide {
                    display: none;
                    position: relative;

                    width: 100%;
                    top: 0;
                    left: 0;
                    background: white;
                    z-index: 10;

                    &.active {
                        display: block;
                    }

                    ul {
                        list-style: none;
                        padding-left: 0;
                        padding: 10px;
                        text-align: left;
                        font-size: 14px;
                        margin: 0;

                        li {
                            margin: 8px 0;
                            .text {
                                width: 268px;
                                display: inline-block;
                                vertical-align: top;
                            }

                            .list-point {
                                padding: 1px 6px;
                                border-radius: 50%;
                                font-size: 12px;
                                display: inline-block;
                                border: 1px solid #222;
                                width: 21px;
                                height: 21px;
                                box-sizing: border-box;
                                vertical-align: top;
                                margin-right: 5px;
                            }
                        }
                    }

                    .actions {
                        margin-bottom: 16px;
                        width: 100%;
                        text-align: center;
                        padding: 5px 0;
                        position: absolute;
                        bottom: -56px;
                        background: white;

                        & > div {
                            display: inline-block;

                            padding: 5px 20px;
                            color: #2196F3;
                            font-size: 11px;
                            text-transform: uppercase;
                            border: 2px solid #2196F3;
                            margin: 0 5px;
                            user-select: none;
                            cursor: pointer;
                        }
                    }
                }
            }

            &.result {
                font-size: 12px;
                text-align: center;

                .heart {
                    width: 48px;
                }

                h4 {
                    margin-top: 5px;
                }

                h3 {
                    margin-bottom: 16px;
                }

                p {
                    white-space: normal;
                }

                .result-type {
                    display: none;
                }

                &.vipps {
                    .result-type.vipps-pending {
                        display: block;

                        p {
                            font-size: 14px;
                            padding: 0 30px;
                        }
                    }
                }

                &.bank {
                    .result-type.bank-pending {
                        display: block;
        
                        .transfer-info {
                            white-space: normal;
                            font-weight: normal;
                            line-height: 200%;
        
                            background: #222;
                            color: white;
        
                            label {
                                display: inline-block;
                                font-weight: 700;
                                width: 120px;
                                text-align: right;
                                vertical-align: middle;
                            }
        
                            span {
                                display: inline-block;
                                vertical-align: middle;
        
                                letter-spacing: 1px;
        
                                width: 120px;
                                text-align: left; 
        
                                padding: 5px;
                                margin: 4px 0;
                            }
                        }
        
                        .email-text {
                            margin-top: 10px;
                            display: block;
                            width: 100%;
                            padding: 18px;
                            font-weight: normal;
                            box-sizing: border-box;
                            white-space: normal;
                            padding-bottom: 10px;
                        }
                    }
                }

                &.confirmed {
                    .result-type.donation-confirmed {
                        display: block;

                        p {
                            font-size: 16px;
                            padding: 0 30px;
                        }
                    }
                }
            }
        }
    }

    .error {
        $height: 28px;

        position: absolute; 
        
        width: 100%; 
        background: rgba(217, 10, 10, 0.85);

        bottom: -$height;
        left: 0;
        height: $height;
        color: #fff;

        transition: transform 100ms;

        font-size: 10px;
        text-align: center;

        padding: 5px;
        box-sizing: border-box;

        &.active {
            transform: translateY(-#{$height});
        }
    }
    
    #no_api_error {
        position: absolute;

        top: 0;
        left: 0;

        display: flex;
        width: 100%;
        height: 100%;

        background: rgba(235,0,0,.95);
        color: white;

        padding: 20px;
        box-sizing: border-box;

        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;

        transform: scale(1.1);
        opacity: 0;

        transition: all 200ms;

        p {
            font-size: 13px;
            text-align: left;
            width: 210px;
            margin: 0 auto;
            line-height: 160%;
        }

        h3 {
            margin-top: 0px;
        }

        &.active {
            opacity: 1;
            transform: scale(1);
        }
    }

    .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: width 200ms;

        height: 6px;
        background: #2196F3;

        transition: width 200ms;
    }

    /* General css settings */

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
}

.select-on-click::selection {
    color: #000;
    background: #ffffff;
}

.select-on-click::-moz-selection {
    color: #ffffff;
    background: #ffffff;
}

/* Animations */
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}