$cdn-url: "https://api.gieffektivt.no/static/";

@media screen and (max-width: 640px) {
    body.widget-active {
        overflow: hidden;
    }

    #donation-widget-container {
        align-items: flex-start;

        #donation-widget {
            max-height: 300px;  

            .progress {
                top: 0;
            }
    
            & > .close-btn {
                right: 6px;
                top: 6px;
                background-color: black;
            }
    
            .pane {    
                .inner {
                    max-height: 300px;
                }

                &.has-buttons .inner { 
                    max-height: 230px;
                }

                &.scrollable {
                    .inner {
                        overflow-y: scroll;
                    }
                }

                &.result {
                    .inner {
                        max-height: none;
                    }
                }
            }
        }
    }
}

@keyframes arrow {
    from {background-position: center 0px;}
    to {background-position: center 10px;}
}

 /* !important is needed sometimes */
 ::-webkit-scrollbar {
    width: 4px !important;
 }

 /* Track */
::-webkit-scrollbar-track {
   -webkit-border-radius: 3px !important;
   border-radius: 3px !important;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px !important;
   border-radius: 3px !important;
   background: #999 !important;

 }
 ::-webkit-scrollbar-thumb:window-inactive {
   background: #999 !important; 
 }