@media screen and (max-width: 640px) {
    body.widget-active {
        overflow: hidden;
        
    }

    #donation-widget {
        .close-btn {
            right: 0; 
            background-color: black;
        }

        .pane .inner { 
            max-height: calc(100vh - 70px);
            overflow-y: scroll;
        }
    }
}